*{
  margin: 0;
  padding: 0;
}
#root{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.ant-checkbox.foo span.ant-checkbox-inner {
  background-color: hotpink;
  border-radius: 50%;
}
.custom-hr {
  width: 20vw;
  color: rgb(220, 78, 65);
  border-top: 1px solid rgb(220, 78, 65);
 
}


.hoverHandle {
 
  color: rgb(220, 78, 65);
 opacity: 0;
  transition: opacity 0.3s ease;
}



.hoverHandle:hover {
  opacity: 1;
}